footer {
    padding: 22px 0 33px 25px;
    background: #353535;

    h4 {
        font-family: $title;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: white;
        margin: 0 0 16px 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 7px;

        li {
            list-style-type: none;

            a,
            a:visited {
                @include button-text;
                color: white !important;
            }

            i {
                font-family: serif;
                font-size: 12px;
                width: 12px;
                margin-right: 5px;
            }
        }
    }
}

/*  Media query Tablette (max-width: 768px) */

@media screen and (min-width: 768px) {
    .menu {
        .menu-section {
            .menu-title {
                h1 {
                    min-width: 300px;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 22px 45px 33px 25px;
        gap: 30px;

        h4 {
            margin: 0 15px 0 85px;
        }

        ul {
            flex-direction: row;
            gap: 20px;
        }
    }
}