@import "../utils/mixins";

.research {
    height: 347px;
    background: #F7F7F7;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background: #EAEAEA;
        z-index: 1;

        input[type="text"] {
            @include button-text;
            width: 145px;
            border: none;
            background: transparent;
            text-align: center;

            &:focus-visible {
                outline: none;
                border-bottom: 1px solid black;
            }
        }
    }

    .research-content {
        display: grid;
        grid-template-rows: 107px 47px 1fr;
        height: 287px;

        h1 {
            justify-self: center;
            align-self: end;
            width: 73%;
            height: 68px;
            font-family: $text700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
        }

        p {
            @include p-text;
            justify-self: center;
            width: 84%;
            color: #353535;
            text-align: center;
        }

        a {
            align-self: center;
            justify-self: center;
            width: 58%;
            max-width: 218px;

            button {
                @include btn;
                font-family: $text500;
                font-size: 16px;
                color: white;
                width: 100%;
                height: 50px;
                border: none;
                transition: background .6s ease-in-out;
                cursor: pointer;


                &:hover {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                }
            }
        }
    }
}