* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    animation: bodyLoadingAnim 5.5s ease forwards;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

@keyframes bodyLoadingAnim {
    to {
        overflow: visible;
    }
}