* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  animation: bodyLoadingAnim 5.5s ease forwards;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

@keyframes bodyLoadingAnim {
  to {
    overflow: visible;
  }
}
@font-face {
  font-family: "title";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "text-300";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "text-400";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "text-500";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "text-700";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
.loader {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 10;
  animation: loaderAnim 2.5s 1.5s forwards;
}
.loader::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  background: black;
  animation: lineAnim 1.5s ease-in forwards;
}
.loader svg path {
  stroke-dasharray: 180px;
  stroke-dashoffset: 180px;
  animation: pathAnim 2.5s forwards;
}
.loader svg path:nth-child(0n+3) {
  stroke: #9356DC;
  animation: pathAnim 1.5s forwards;
}
.loader p {
  position: relative;
  opacity: 0;
  font-family: "text-500", sans-serif;
  animation: textLoaderAnim 2s forwards;
}

/* Media query Tablet (min-width: 768px) */
@media screen and (min-width: 768px) {
  .loader {
    gap: 15px;
  }
  .loader::after {
    top: 70%;
  }
  .loader svg {
    height: 20vh;
  }
  .loader p {
    font-size: 26px;
  }
}
/* Media query Desktop (min-width: 1440px) */
@media screen and (min-width: 1440px) {
  .loader::after {
    top: 75%;
  }
  .loader svg {
    height: 35vh;
  }
  .loader p {
    font-size: 42px;
  }
}
@keyframes loaderAnim {
  to {
    visibility: collapse;
    opacity: 0;
  }
}
@keyframes pathAnim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes textLoaderAnim {
  to {
    opacity: 1;
  }
}
@keyframes lineAnim {
  to {
    width: 65vw;
  }
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 63px;
  gap: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav img {
  width: 162px;
  height: 44px;
  object-fit: contain;
}

.research {
  height: 347px;
  background: #F7F7F7;
}
.research form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #EAEAEA;
  z-index: 1;
}
.research form input[type=text] {
  font-family: "text-500", sans-serif;
  font-size: 16px;
  line-height: 19px;
  width: 145px;
  border: none;
  background: transparent;
  text-align: center;
}
.research form input[type=text]:focus-visible {
  outline: none;
  border-bottom: 1px solid black;
}
.research .research-content {
  display: grid;
  grid-template-rows: 107px 47px 1fr;
  height: 287px;
}
.research .research-content h1 {
  justify-self: center;
  align-self: end;
  width: 73%;
  height: 68px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .research .research-content h1 {
    font-size: 20px;
  }
}
.research .research-content p {
  font-family: "text-300", sans-serif;
  font-size: 18px;
  line-height: 21px;
  justify-self: center;
  width: 84%;
  color: #353535;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .research .research-content p {
    font-size: 14px;
  }
}
.research .research-content a {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  max-width: 218px;
  font-size: 16px;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.research .research-content a:hover {
  filter: brightness(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
}

.functioning {
  display: flex;
  flex-direction: column;
  height: 440px;
  padding: 48px 20px 68px 20px;
  gap: 26px;
}
.functioning h2 {
  font-size: 24px;
  line-height: 28px;
}
.functioning .functioning-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 12px;
}
.functioning .functioning-content button {
  position: relative;
  display: flex;
  font-family: "text-500", sans-serif;
  font-size: 16px;
  line-height: 19px;
  height: 73px;
  padding: 29px 38px 28px 34px;
  background: #F6F6F6;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.functioning .functioning-content button::before {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #F6F6F6;
  font-size: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.functioning .functioning-content button:nth-child(0n+1)::before {
  content: "1";
}
.functioning .functioning-content button:nth-child(0n+2)::before {
  content: "2";
}
.functioning .functioning-content button:nth-child(0n+3)::before {
  content: "3";
}
.functioning .functioning-content button:hover {
  background: #F5EDFF;
}
.functioning .functioning-content button:hover i {
  color: #9356DC;
}
.functioning .functioning-content button i {
  margin-right: 23px;
  color: #7E7E7E;
}

@media screen and (max-width: 768px) {
  .functioning .functioning-content button {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .functioning {
    height: auto;
  }
  .functioning .functioning-content {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .functioning .functioning-content button {
    width: 322px;
  }
}
@media screen and (min-width: 1440px) {
  .functioning h2 {
    margin-left: 10rem;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 23px;
  background: #F6F6F6;
  padding: 54px 20px 64px 20px;
  user-select: none;
}
.restaurants h2 {
  font-size: 24px;
  line-height: 28px;
}
.restaurants .restaurants-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.restaurants .restaurants-content .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.restaurants .restaurants-content .card:nth-child(0n+1), .restaurants .restaurants-content .card:nth-child(0n+2) {
  position: relative;
}
.restaurants .restaurants-content .card:nth-child(0n+1)::after, .restaurants .restaurants-content .card:nth-child(0n+2)::after {
  position: absolute;
  content: "Nouveau";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  right: 15px;
  top: 15px;
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
}
.restaurants .restaurants-content .card .img-container {
  position: relative;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.restaurants .restaurants-content .card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 60%;
}
.restaurants .restaurants-content .card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 25px 12px 13px;
}
.restaurants .restaurants-content .card .card-content .heart-container {
  position: relative;
  width: 50px;
  height: 50px;
}
.restaurants .restaurants-content .card .card-content .heart-container:hover .heart-empty {
  transform: scale(0);
  opacity: 0;
}
.restaurants .restaurants-content .card .card-content .heart-container:hover .heart-full {
  transform: scale(1);
  opacity: 1;
}
.restaurants .restaurants-content .card .card-content .heart-container .heart-empty {
  position: absolute;
  left: 0;
  font-size: 1.4rem;
  transform: scale(1);
  opacity: 1;
  transition: 0.8s ease-in-out;
}
.restaurants .restaurants-content .card .card-content .heart-container .heart-full {
  display: block;
  position: absolute;
  left: 0;
  transform: scale(0);
  opacity: 0;
  transition: 0.6s ease-in-out;
}
.restaurants .restaurants-content .card .card-content .heart-container .heart-full img {
  width: 1.45rem;
}

/*  Media query Tablette (min-width: 768px) */
@media screen and (min-width: 768px) {
  .restaurants {
    padding: 54px 20px 64px 20px;
  }
  .restaurants .restaurants-content {
    display: grid;
    justify-items: center;
    row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .restaurants .restaurants-content .card:nth-child(0n+3) .img-container img, .restaurants .restaurants-content .card:nth-child(0n+4) .img-container img {
    object-position: 0% 80%;
  }
}
/* Media query Desktop (min-width: 1440px) */
@media screen and (min-width: 1440px) {
  .restaurants h2 {
    padding: 0 0 0 10rem;
  }
  .restaurants .restaurants-content {
    padding: 0 180px 0 180px;
  }
}
footer {
  padding: 22px 0 33px 25px;
  background: #353535;
}
footer h4 {
  font-family: "title", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: white;
  margin: 0 0 16px 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer ul li {
  list-style-type: none;
}
footer ul li a,
footer ul li a:visited {
  font-family: "text-500", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: white !important;
}
footer ul li i {
  font-family: serif;
  font-size: 12px;
  width: 12px;
  margin-right: 5px;
}

/*  Media query Tablette (max-width: 768px) */
@media screen and (min-width: 768px) {
  .menu .menu-section .menu-title h1 {
    min-width: 300px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 22px 45px 33px 25px;
    gap: 30px;
  }
  footer h4 {
    margin: 0 15px 0 85px;
  }
  footer ul {
    flex-direction: row;
    gap: 20px;
  }
}
.nav {
  justify-content: flex-start;
  padding: 0 0 0 23px;
  gap: 65px;
}
@media screen and (max-width: 768px) {
  .nav {
    gap: 30%;
  }
}
.nav a i {
  font-size: 17px;
}

.main-container {
  height: auto;
}

.menu-bg-container {
  height: 275px;
}
.menu-bg-container .palette {
  height: 100%;
  background: url("../../assets/images/restaurants/la-palette-du-gout.jpg");
  background-size: cover;
  background-position: center;
}
.menu-bg-container .note {
  height: 100%;
  background: url("../../assets/images/restaurants/la-note-enchantee.jpg");
  background-size: cover;
  background-position: center;
}
.menu-bg-container .francaise {
  height: 100%;
  background: url("../../assets/images/restaurants/a-la-francaise.jpg");
  background-size: cover;
  background-position: center;
}
.menu-bg-container .delice {
  height: 100%;
  background: url("../../assets/images/restaurants/le-delice-des-sens.jpg");
  background-size: cover;
  background-position: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  margin-top: -12vh;
  max-width: 1055px;
  padding: 32px 0 40px 0;
  background: #F7F7F7;
  border-radius: 25px 25px 0 0;
}
.menu .menu-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 13px 0 13px;
}
.menu .menu-section .menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.menu .menu-section .menu-title h1 {
  font-family: "title", serif;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 41px;
  color: #101010;
}
.menu .menu-section .menu-title .heart-container {
  position: relative;
  width: 50px;
  height: 50px;
}
.menu .menu-section .menu-title .heart-container:hover .heart-empty {
  transform: scale(0);
  opacity: 0;
}
.menu .menu-section .menu-title .heart-container:hover .heart-full {
  transform: scale(1);
  opacity: 1;
}
.menu .menu-section .menu-title .heart-container .heart-empty {
  position: absolute;
  top: 20%;
  left: 0;
  font-size: 1.4rem;
  transform: scale(1);
  opacity: 1;
  transition: 0.8s ease-in-out;
}
.menu .menu-section .menu-title .heart-container .heart-full {
  display: block;
  top: 20%;
  position: absolute;
  left: 0;
  transform: scale(0);
  opacity: 0;
  transition: 0.6s ease-in-out;
}
.menu .menu-section .menu-title .heart-container .heart-full img {
  width: 1.45rem;
}

.starters {
  animation: menuAnim 1s 0.5s ease forwards;
}

.main-courses {
  animation: menuAnim 1s 1.5s ease forwards;
}

.desserts {
  animation: menuAnim 1s 3s ease forwards;
}

.starters,
.main-courses,
.desserts {
  display: grid;
  gap: 20px;
  opacity: 0;
}
.starters h2,
.main-courses h2,
.desserts h2 {
  font-family: "text-300", sans-serif;
  font-size: 0.8rem;
  line-height: 18px;
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}
.starters h2::after,
.main-courses h2::after,
.desserts h2::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.starters .menu-item-container,
.main-courses .menu-item-container,
.desserts .menu-item-container {
  display: grid;
  gap: 12px;
}
.starters .menu-item-container .menu-item-starters,
.starters .menu-item-container .menu-item-main-courses,
.starters .menu-item-container .menu-item-desserts,
.main-courses .menu-item-container .menu-item-starters,
.main-courses .menu-item-container .menu-item-main-courses,
.main-courses .menu-item-container .menu-item-desserts,
.desserts .menu-item-container .menu-item-starters,
.desserts .menu-item-container .menu-item-main-courses,
.desserts .menu-item-container .menu-item-desserts {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 18px 12px 11px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.starters .menu-item-container .menu-item-starters .item-infos,
.starters .menu-item-container .menu-item-main-courses .item-infos,
.starters .menu-item-container .menu-item-desserts .item-infos,
.main-courses .menu-item-container .menu-item-starters .item-infos,
.main-courses .menu-item-container .menu-item-main-courses .item-infos,
.main-courses .menu-item-container .menu-item-desserts .item-infos,
.desserts .menu-item-container .menu-item-starters .item-infos,
.desserts .menu-item-container .menu-item-main-courses .item-infos,
.desserts .menu-item-container .menu-item-desserts .item-infos {
  display: grid;
  width: 100%;
  gap: 6px;
}
.starters .menu-item-container .menu-item-starters .item-infos h3,
.starters .menu-item-container .menu-item-main-courses .item-infos h3,
.starters .menu-item-container .menu-item-desserts .item-infos h3,
.main-courses .menu-item-container .menu-item-starters .item-infos h3,
.main-courses .menu-item-container .menu-item-main-courses .item-infos h3,
.main-courses .menu-item-container .menu-item-desserts .item-infos h3,
.desserts .menu-item-container .menu-item-starters .item-infos h3,
.desserts .menu-item-container .menu-item-main-courses .item-infos h3,
.desserts .menu-item-container .menu-item-desserts .item-infos h3 {
  font-family: "text-500", sans-serif;
  font-size: 0.9rem;
  line-height: 21px;
}
.starters .menu-item-container .menu-item-starters .item-infos p,
.starters .menu-item-container .menu-item-main-courses .item-infos p,
.starters .menu-item-container .menu-item-desserts .item-infos p,
.main-courses .menu-item-container .menu-item-starters .item-infos p,
.main-courses .menu-item-container .menu-item-main-courses .item-infos p,
.main-courses .menu-item-container .menu-item-desserts .item-infos p,
.desserts .menu-item-container .menu-item-starters .item-infos p,
.desserts .menu-item-container .menu-item-main-courses .item-infos p,
.desserts .menu-item-container .menu-item-desserts .item-infos p {
  font-family: "text-300", sans-serif;
  font-size: 0.8rem;
  line-height: 18px;
}
.starters .menu-item-container .menu-item-starters span,
.starters .menu-item-container .menu-item-main-courses span,
.starters .menu-item-container .menu-item-desserts span,
.main-courses .menu-item-container .menu-item-starters span,
.main-courses .menu-item-container .menu-item-main-courses span,
.main-courses .menu-item-container .menu-item-desserts span,
.desserts .menu-item-container .menu-item-starters span,
.desserts .menu-item-container .menu-item-main-courses span,
.desserts .menu-item-container .menu-item-desserts span {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  transform: translate(0, 0);
  transition: 0.5s ease-in-out;
}
.starters .menu-item-container .menu-item-starters .checked,
.starters .menu-item-container .menu-item-main-courses .checked,
.starters .menu-item-container .menu-item-desserts .checked,
.main-courses .menu-item-container .menu-item-starters .checked,
.main-courses .menu-item-container .menu-item-main-courses .checked,
.main-courses .menu-item-container .menu-item-desserts .checked,
.desserts .menu-item-container .menu-item-starters .checked,
.desserts .menu-item-container .menu-item-main-courses .checked,
.desserts .menu-item-container .menu-item-desserts .checked {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 59px;
  height: 100%;
  top: 0;
  right: 0;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  transform: translate(59px, 0);
  transition: 0.5s ease-in-out;
}
.starters .menu-item-container .menu-item-starters .checked i,
.starters .menu-item-container .menu-item-main-courses .checked i,
.starters .menu-item-container .menu-item-desserts .checked i,
.main-courses .menu-item-container .menu-item-starters .checked i,
.main-courses .menu-item-container .menu-item-main-courses .checked i,
.main-courses .menu-item-container .menu-item-desserts .checked i,
.desserts .menu-item-container .menu-item-starters .checked i,
.desserts .menu-item-container .menu-item-main-courses .checked i,
.desserts .menu-item-container .menu-item-desserts .checked i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #99E2D0;
  background: white;
  border-radius: 50%;
}
.starters .menu-item-container .menu-item-starters:hover .item-infos h3,
.starters .menu-item-container .menu-item-main-courses:hover .item-infos h3,
.starters .menu-item-container .menu-item-desserts:hover .item-infos h3,
.main-courses .menu-item-container .menu-item-starters:hover .item-infos h3,
.main-courses .menu-item-container .menu-item-main-courses:hover .item-infos h3,
.main-courses .menu-item-container .menu-item-desserts:hover .item-infos h3,
.desserts .menu-item-container .menu-item-starters:hover .item-infos h3,
.desserts .menu-item-container .menu-item-main-courses:hover .item-infos h3,
.desserts .menu-item-container .menu-item-desserts:hover .item-infos h3 {
  animation: ellipsisIngredientTitle 0.5s ease-in-out forwards;
}
.starters .menu-item-container .menu-item-starters:hover .item-infos p,
.starters .menu-item-container .menu-item-main-courses:hover .item-infos p,
.starters .menu-item-container .menu-item-desserts:hover .item-infos p,
.main-courses .menu-item-container .menu-item-starters:hover .item-infos p,
.main-courses .menu-item-container .menu-item-main-courses:hover .item-infos p,
.main-courses .menu-item-container .menu-item-desserts:hover .item-infos p,
.desserts .menu-item-container .menu-item-starters:hover .item-infos p,
.desserts .menu-item-container .menu-item-main-courses:hover .item-infos p,
.desserts .menu-item-container .menu-item-desserts:hover .item-infos p {
  animation: ellipsisIngredientSubtitle 0.5s ease-in-out forwards;
}
.starters .menu-item-container .menu-item-starters:hover span,
.starters .menu-item-container .menu-item-main-courses:hover span,
.starters .menu-item-container .menu-item-desserts:hover span,
.main-courses .menu-item-container .menu-item-starters:hover span,
.main-courses .menu-item-container .menu-item-main-courses:hover span,
.main-courses .menu-item-container .menu-item-desserts:hover span,
.desserts .menu-item-container .menu-item-starters:hover span,
.desserts .menu-item-container .menu-item-main-courses:hover span,
.desserts .menu-item-container .menu-item-desserts:hover span {
  transform: translate(-59px, 0);
}
.starters .menu-item-container .menu-item-starters:hover .checked,
.starters .menu-item-container .menu-item-main-courses:hover .checked,
.starters .menu-item-container .menu-item-desserts:hover .checked,
.main-courses .menu-item-container .menu-item-starters:hover .checked,
.main-courses .menu-item-container .menu-item-main-courses:hover .checked,
.main-courses .menu-item-container .menu-item-desserts:hover .checked,
.desserts .menu-item-container .menu-item-starters:hover .checked,
.desserts .menu-item-container .menu-item-main-courses:hover .checked,
.desserts .menu-item-container .menu-item-desserts:hover .checked {
  transform: translate(0, 0);
}
.starters .menu-item-container .menu-item-starters:hover .checked i,
.starters .menu-item-container .menu-item-main-courses:hover .checked i,
.starters .menu-item-container .menu-item-desserts:hover .checked i,
.main-courses .menu-item-container .menu-item-starters:hover .checked i,
.main-courses .menu-item-container .menu-item-main-courses:hover .checked i,
.main-courses .menu-item-container .menu-item-desserts:hover .checked i,
.desserts .menu-item-container .menu-item-starters:hover .checked i,
.desserts .menu-item-container .menu-item-main-courses:hover .checked i,
.desserts .menu-item-container .menu-item-desserts:hover .checked i {
  animation: rotateCheckMark 0.5s 0.2s forwards;
}

.btn-commander-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-commander-container button {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 186px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding: 13px 16px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn-commander-container button:hover {
  filter: brightness(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
}

@keyframes menuAnim {
  to {
    opacity: 1;
  }
}
@keyframes ellipsisIngredientTitle {
  to {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 30px);
  }
}
@keyframes ellipsisIngredientSubtitle {
  to {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 60px);
  }
}
@keyframes rotateCheckMark {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .menu .menu-section .menu-title {
    gap: 0;
  }
  .menu .menu-section .menu-title h1 {
    font-size: 1.8rem;
  }
  .starters .menu-item-container .menu-item-starters .item-infos h3,
.starters .menu-item-container .menu-item-main-courses .item-infos h3,
.starters .menu-item-container .menu-item-desserts .item-infos h3,
.main-courses .menu-item-container .menu-item-starters .item-infos h3,
.main-courses .menu-item-container .menu-item-main-courses .item-infos h3,
.main-courses .menu-item-container .menu-item-desserts .item-infos h3,
.desserts .menu-item-container .menu-item-starters .item-infos h3,
.desserts .menu-item-container .menu-item-main-courses .item-infos h3,
.desserts .menu-item-container .menu-item-desserts .item-infos h3 {
    font-size: 1rem;
  }
  .starters .menu-item-container .menu-item-starters .item-infos p,
.starters .menu-item-container .menu-item-main-courses .item-infos p,
.starters .menu-item-container .menu-item-desserts .item-infos p,
.main-courses .menu-item-container .menu-item-starters .item-infos p,
.main-courses .menu-item-container .menu-item-main-courses .item-infos p,
.main-courses .menu-item-container .menu-item-desserts .item-infos p,
.desserts .menu-item-container .menu-item-starters .item-infos p,
.desserts .menu-item-container .menu-item-main-courses .item-infos p,
.desserts .menu-item-container .menu-item-desserts .item-infos p {
    font-size: 0.8rem;
  }
  .starters .menu-item-container .menu-item-starters:hover .item-infos h3,
.starters .menu-item-container .menu-item-starters:hover .item-infos p,
.starters .menu-item-container .menu-item-main-courses:hover .item-infos h3,
.starters .menu-item-container .menu-item-main-courses:hover .item-infos p,
.starters .menu-item-container .menu-item-desserts:hover .item-infos h3,
.starters .menu-item-container .menu-item-desserts:hover .item-infos p,
.main-courses .menu-item-container .menu-item-starters:hover .item-infos h3,
.main-courses .menu-item-container .menu-item-starters:hover .item-infos p,
.main-courses .menu-item-container .menu-item-main-courses:hover .item-infos h3,
.main-courses .menu-item-container .menu-item-main-courses:hover .item-infos p,
.main-courses .menu-item-container .menu-item-desserts:hover .item-infos h3,
.main-courses .menu-item-container .menu-item-desserts:hover .item-infos p,
.desserts .menu-item-container .menu-item-starters:hover .item-infos h3,
.desserts .menu-item-container .menu-item-starters:hover .item-infos p,
.desserts .menu-item-container .menu-item-main-courses:hover .item-infos h3,
.desserts .menu-item-container .menu-item-main-courses:hover .item-infos p,
.desserts .menu-item-container .menu-item-desserts:hover .item-infos h3,
.desserts .menu-item-container .menu-item-desserts:hover .item-infos p {
    animation: none;
  }
}
/*  Media query Desktop (min-width: 1024px) */
@media screen and (min-width: 1024px) {
  .nav {
    gap: 40%;
  }
  .menu-bg-container {
    height: 450px;
  }
  .menu-bg-container img {
    height: 100%;
  }
  .menu {
    left: 50%;
    transform: translate(-50%);
  }
  .menu .menu-section {
    align-items: center;
  }
  .menu .menu-section .menu-title {
    justify-content: center;
  }
  .menu .starters,
.menu .main-courses,
.menu .desserts {
    width: 634px;
  }
}

/*# sourceMappingURL=style.css.map */
