.nav {
    justify-content: flex-start;
    padding: 0 0 0 23px;
    gap: 65px;

    a {
        i {
            font-size: 17px;
        }
    }
}

.main-container {
    height: auto;
}

.menu-bg-container {
    height: 275px;

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    margin-top: -40px;
    width: 100vw;
    max-width: 1055px;
    padding: 32px 0 40px 0;
    background: #F7F7F7;
    border-radius: 25px 25px 0 0;

    .menu-section {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 13px 0 13px;

        .menu-title {
            display: flex;
            align-items: center;
            gap: 35px;

            h1 {
                @include menu-page-title;
            }

            .heart-container {
                position: relative;

                input[type="checkbox"] {
                    clear: both;
                    display: none;
                }

                label {
                    position: relative;
                    display: grid;
                    width: 21px;
                    height: 22px;
                    cursor: pointer;

                    .fa-regular {
                        position: absolute;
                        z-index: 2;
                        font-size: 25px;
                    }

                    .fa-solid {
                        position: absolute;
                        z-index: 1;
                        font-size: 25px;
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                        transform: scale(0);
                        transition: .6s ease-in-out;
                    }
                }




                input[type="checkbox"]:checked+label {
                    .fa-solid {
                        font-size: 25px;
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                        transform: scale(0.86, 0.9);
                    }
                }
            }
        }
    }

    .starters {
        animation: menuAnim 2s 1s ease forwards;
    }

    .main-courses {
        animation: menuAnim 2s 2.5s ease forwards;
    }

    .desserts {
        animation: menuAnim 2s 4s ease forwards;
    }

    .starters,
    .main-courses,
    .desserts {
        display: grid;
        gap: 20px;
        opacity: 0;

        h2 {
            position: relative;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;

            &::after {
                position: absolute;
                content: '';
                bottom: -10px;
                left: 0;
                width: 40px;
                height: 3px;
                background: #99E2D0;
            }
        }

        .menu-item-container {
            display: grid;
            gap: 12px;

            .menu-item-starters,
            .menu-item-main-courses,
            .menu-item-desserts {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 12px 18px 12px 11px;
                background: white;
                border-radius: 15px;
                box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
                overflow: hidden;

                .item-infos {
                    display: grid;
                    gap: 6px;

                    h3 {
                        @include ingredient-title;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 200px;
                    }

                    p {
                        @include ingredient-subtitle;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 200px;
                    }
                }

                span {
                    font-family: "title", cursive;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    translate: 0 0;
                    transition: translate .7s ease-in-out;
                }

                .checked {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 59px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background: #99E2D0;
                    border-radius: 0 15px 15px 0;
                    translate: 59px 0;
                    transition: translate .7s ease-in-out;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        font-size: 14px;
                        color: #99E2D0;
                        background: white;
                        border-radius: 50%;
                    }
                }

                &:hover {

                    span {
                        translate: -77px 0;
                    }

                    .checked {
                        translate: 0 0;
                    }
                }
            }
        }
    }

    .btn-commander-container {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @include btn;
            width: 186px;
            height: 50px;
            color: white;
            font-size: 16px;
            padding: 13px 16px;
            border: none;
            cursor: pointer;

            &:hover {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            }
        }
    }
}

@keyframes menuAnim {
    to {
        opacity: 1;
    }
}

/*  Media query Desktop (min-width: 1024px) */

@media screen and (min-width: 1024px) {

    .nav {
        gap: 40%;
    }

    .menu-bg-container {
        height: 450px;

        img {
            height: 100%;
        }
    }

    .menu {
        left: 50%;
        transform: translate(-50%);

        .menu-section {
            align-items: center;

            .menu-title {
                justify-content: center;
            }
        }

        .starters,
        .main-courses,
        .desserts {

            width: 634px;

            .menu-item-container {

                .menu-item-starters,
                .menu-item-main-courses,
                .menu-item-desserts {

                    .item-infos {
                        h3 {
                            overflow: visible;
                        }

                        p {
                            overflow: visible;
                        }
                    }
                }
            }

        }


    }
}